# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:10.15.3

pipelines:
  default:
    - step:
        caches:
          - node
        script: # Modify the commands below to build your repository.
          - ssh migue@thegrouped.com "pwd; cd /var/www/auth/auth-backend/; git pull; npm i; npm run-script build; node dist/App.js & "
          
  branches:
     '{desarrollo, test/*}':
       - step:
           script:
             - echo "No se hace nada en esta rama"